/* --- LANDING PAGE --- */

.logo {
  margin-top: 100px;
  margin-bottom: 10px;
  opacity: 1;
}

.logo.clickedStart {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 0px;
  height: 0;
  opacity: 0;
}

.patient-search {
  height: 0px;
  opacity: 0;
  pointer-events: none;
}

.patient-search.clickedStart {
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: calc(1.5em + 0.75rem + 2px);
  width: 300px;
  margin-bottom: 10px;
  opacity: 1;
  pointer-events: initial;
}

.get-started {
  width: 200px;
  opacity: 1;
}

.get-started.clickedInvoice {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: transparent !important;
  white-space: nowrap;
  width: 0px;
  opacity: 0;
}
