@media (min-width: 768px) {
}

.modal-xl {
  width: 95%;
  max-width: 1300px;
}

.form-control:focus:not(:hover) {
  background-color: rgb(255, 255, 255);
}

.form-control:hover:not(:focus) {
  border-color: rgb(222, 8, 8);
  border-width: 1px;
  /* background-color: #f1f1f1; */
  border-style: double;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
button:focus,
.uneditable-input:focus {
  border-color: rgb(224, 8, 8);
  outline: none;
  box-shadow: none !important;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 13px rgba(104, 207, 239, 0.8); */
  /* outline: 1px rgb(224, 8, 8); */
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
