body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

label {
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 63px;
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

/* --- LANDING PAGE --- */

.logo {
  margin-top: 100px;
  margin-bottom: 10px;
  opacity: 1;
}

.logo.clickedStart {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 0px;
  height: 0;
  opacity: 0;
}

.patient-search {
  height: 0px;
  opacity: 0;
  pointer-events: none;
}

.patient-search.clickedStart {
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: calc(1.5em + 0.75rem + 2px);
  width: 300px;
  margin-bottom: 10px;
  opacity: 1;
  pointer-events: initial;
}

.get-started {
  width: 200px;
  opacity: 1;
}

.get-started.clickedInvoice {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: transparent !important;
  white-space: nowrap;
  width: 0px;
  opacity: 0;
}

/* --- DEFAULT COLORS --- */
.color-grey {
  background-image: linear-gradient(#8880a6, #423c5c);
}
.color-purple {
  background-color: #895bdc !important;
}
.color-white {
  color: #d0ced8 !important;
}
.color-black {
  background-color: #273141 !important;
}

/* --- MODAL --- */
.modal-xl {
  width: 95%;
  max-width: 1300px;
}

/* --- BUTTONS --- */
.btn {
  border-radius: 15px !important;
  background-color: #895bdc !important;
}

/* --- INPUT FIELDS --- */
.form-control {
  border-radius: 15px !important;
  text-align: center;
}

.form-control:focus:not(:hover) {
  background-color: #ffffff;
}

.form-control:hover:not(:focus) {
  border-color: #895bdc;
  border-width: 2px;
  /* background-color: #f1f1f1; */
}

.billingSection {
  opacity: 0;
}

.billingSection.clickedInvoice {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 1;
}
.fa.fa-minus-circle {
  color: whitesmoke;
}
.fa.fa-plus-circle {
  size: 3px;
  color: white;
}
