/* --- DEFAULT COLORS --- */
.color-grey {
  background-image: linear-gradient(#8880a6, #423c5c);
}
.bg-secondary {
  background-color: #895bdc !important;
}
.color-white {
  color: #d0ced8 !important;
}
.color-black {
  background-color: #273141 !important;
}

/* --- INPUT FIELDS --- */
.form-control {
  border-radius: 15px !important;
  text-align: center;
}

/* Input field: Patient-Search */
.patient-search {
  margin-top: 320px;
  margin-bottom: 20px;
  width: 240px !important;
}

/* Input field: Patient-Search - Clicked */
.patient-search.clicked {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  margin-top: 20px;
}

/* --- BUTTONS --- */
.btn {
  border-radius: 15px !important;
  background-color: #895bdc !important;
}

/* Button: Get Started */
.get-started {
  width: 240px !important;
  margin-bottom: 20px;
}

/* Button: Create Invoice */
.create-invoice {
  width: 240px !important;
  margin-bottom: 20px;
  display: visible;
  transition: all ease 500ms !important;
}

/* Button: Create Invoice - Clicked */
.create-invoice.clicked {
  opacity: 0;
  display: none;
}

/* Landing Page */
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Logo Image */
.logo {
  margin-top: 200px;
  margin-left: 64px;
  margin-bottom: 20px;
}

/* --- WORKBENCH STUFF (do not delete) --- */

/* shrink code
margin-left: 130px;
width: 34px !important;
color: transparent !important;
white-space: nowrap !important; */

/* .form-control:focus {
--> Add input field highlight color here <--
/ */

/* border-color: red !important;
color: red !important; */
