.logo {
  margin-top: 100px;
  margin-bottom: 20px;
  opacity: 100;
}

.logo.clickedStart {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 0px;
  height: 0;
  opacity: 0;
}

.patient-search {
  margin-bottom: 0px;
  height: 0px;
  opacity: 0;
  pointer-events: none;
}

.patient-search.clickedStart {
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 20px;
  transition: opacity 1.2s;
  opacity: 1;
  pointer-events: initial;
}

.get-started {
  width: 240px;
  opacity: 1;
}

.get-started.clickedInvoice {
  transition: all 0.2s;
  width: 150px;
  opacity: 0;
}

.get-started-div {
  height: 50px;
}

.get-started-div.clickedInvoice {
  transition: all 1s;
  height: 0px;
}
